/*
!env_setup.sh
!README.md
!.bashrc
!/.config/powerline/
!.config/tmuxinator/base.yml
!.config/tmuxinator/spotify.yml
!/.spotify_conf/
/spotify_conf/mopidy.conf
!.fonts.conf  
!.tmux.conf  
!.vimrc  
!/vpn
!.zshrc
!.config/htop/htoprc
!.mc/solarized.ini
!/.config/mc/
