# Ignore Everything
/*

# Except
!env_setup.sh
!README.md
!.bashrc
!/.config/powerline/
!.config/tmuxinator/base.yml
!.config/tmuxinator/spotify.yml
!/.spotify_conf/
!.fonts.conf  
!.tmux.conf  
!.vimrc  
!.zshrc
!.config/htop/htoprc
!/.mc/solarized.ini
!/.config/mc/
!/.zshenv
